* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  margin: 0;
}

.intro-chunk {
  padding: 16px;
  max-width: 415px;
}

.indented-heading {
  font-size: 1.5rem;
  line-height: 1.2;
  width: fit-content;
  margin: 0;
  margin-left: -32px;
  margin-top: -16px;
  padding: 16px 32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
 
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
  padding: 16px;
}

main {
  background-color: hsl(0deg, 0%, 40%);
  border-top: 8px solid hsl(0deg, 0%, 60%);
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0; 
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}
